<!DOCTYPE html>
<html lang="en">
    {% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/RLogo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Varnam 2k24</title>
</head>

<body>
    <header class="header" id="home">
        <nav>
            <div class="nav__bar">
                <div class="nav__logo">
                    <img src="{% static 'img/RLogo.png' %}" alt="logo" />
                </div>
                <div class="nav__menu__btn" id="menu-btn">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>
            <ul class="nav__links" id="nav-links">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'sgs' %}">SGS events</a></li>

                <li class="nav__logo">
                    <a href="#">
                        <img src="{% static 'img/RLogo.png' %}" alt="logo" />
                    </a>
                </li>
                <li><a href="{% url 'club' %}">Club events</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </nav>
        <div class="section__container header__container">
            <div class="header__content">
                <p>Embrace the Spectrum</p>
                <h1>Varnam 2k24<br />Where Colors Collide<br />Cultures Unite!</h1>
            </div>
        </div>
    </div>
    </div>
    </header>
    <section class="section__container banner__container" id="team">
        <div class="banner__grid">
            <div class="banner__card">
                <h4>Our Team</h4>
            </div>
            <div class="banner__card">
                <h4>Clubs</h4>
            </div>
            <div class="banner__card">
                <h4>DJ</h4>
            </div>
            <div class="banner__card">
                <h4>Cheif Guest</h4>
            </div>
            <img src="{% static 'img/SGS_Logo.png' %}" alt="logo" />
        </div>
        <div class="banner__strip">
            <div class="banner__strip__card">
                <img src="{% static 'img/CCC Logo.jpg' %}" alt="banner" />
                <img src="{% static 'img/EVC.jpg' %}" alt="banner" />
            </div>
            <div class="banner__strip__card">
                <img src="{% static 'img/GCC.png' %}" alt="banner" />
                <img src="{% static 'img/MTM.jpeg' %}" alt="banner" />
            </div>
            <div class="banner__strip__card">
                <img src="{% static 'img/Readers_Park.jpg' %}" alt="banner" />
                <img src="{% static 'img/rostram.png' %}" alt="banner" />
            </div>
            <div class="banner__strip__card">
                <img src="{% static 'img/yrcrrc.png' %}" alt="banner" />
                <img src="{% static 'img/stdmt.png' %}" alt="banner" />
            </div>
            <div class="banner__strip__card">
                <img src="{% static 'img/SMT.jpg' %}" alt="banner" />
                <img src="{% static 'img/gyan.png' %}" alt="banner" />
            </div>
            <div class="banner__strip__card">
                <img src="{% static 'img/NCC.PNG' %}" alt="banner" />
                <img src="{% static 'img/FAC.jpg' %}" alt="banner" />
            </div>
        </div>
    </section>

    <section class="section__container about__container" id="about">
        <div class="section__header">About Us</div>
        <p class="section__description">
            Welcome to VARNAM 2K24, where creativity takes center stage in a vibrant tapestry of culture and artistry.
            Our platform is a celebration of diversity, bringing together talents from all walks of life to showcase the
            beauty of expression. Immerse yourself in a world of color and innovation, where each stroke tells a story
            and every creation ignites the imagination. Whether you're an artist, a performer, or simply an admirer of
            the arts, join us in celebrating the rich tapestry of human creativity at VARNAM 2K24.
        </p>
    </section>
    <section class="container">
        <div class="item-container">
            <div class="img-container">
                <img src="{% static 'img/event2.jpg' %}" alt="Event image">
            </div>

            <div class="body-container">
                <div class="overlay"></div>

                <div class="event-info">
                    <p class="title">Club Events</p>
                    <div class="separator"></div>
                    <p class="info">13 events Happening for 2 Days</p>
                    <p class="price">Explore More</p>

                    <div class="additional-info">
                        <p class="info">
                            <i class="fa-solid fa-location-dot"></i>
                            All Seminar Halls
                        </p>
                        <p class="info">
                            <i class="fa-solid fa-calendar-days"></i>
                            Thur, Apr 5, 11.30 AM – 1.00 PM, 
                            Fri, Apr 6, 09.30 AM – 1.00 PM

                        </p>

                        <p class="info description">
                            Join us for an engaging club event starting on April 5th, 2024, Thursday! Let's gather
                            for an enriching event! <span>more...</span>
                        </p>
                    </div>
                </div>
                <a href="{% url 'club' %}" class="action">Register</a>
            </div>
        </div>
        <div class="item-container">
            <div class="img-container">
                <img src="{% static 'img/event1.jpg' %}" alt="Event image">
            </div>
            <div class="body-container">
                <div class="overlay"></div>
                <div class="event-info">
                    <p class="title">SGS Events</p>
                    <div class="separator"></div>
                    <p class="info">Treasure Hunt, IPL Auction</p>
                    <p class="price">Explore More</p>

                    <div class="additional-info">
                        <p class="info">
                            <i class="fa-solid fa-location-dot"></i>
                            C-block & CS Hall
                        </p>
                        <p class="info">
                            <i class="fa-solid fa-calendar-days"></i>
                            Thur, Apr 5, 2.00 PM – 4.30 PM
                        </p>

                        <p class="info description">
                            We invite you to share yours exposure with us! Our special event, hosted by the Students'
                            Guild of Service in Varnam 2024. <span>more...</span>
                        </p>
                    </div>
                </div>
                <a href="{% url 'sgs' %}" class="action">Register</a>
            </div>
        </div>
    </section>

    <footer class="footer" id="contact">
        <div class="section__container footer__container">
            <div class="footer__col">
                <img src="{% static 'img/SGS_Logo.png' %}" alt="logo" />
                
                <div class="footer__socials">
                    <a href="https://instagram.com/sgsmcet?utm_source=qr&igshid=MThlNWY1MzQwNA=="><i
                            class="fab fa-instagram"></i></a>
                </div>
                <div class="footer__bar">
                    <h3>Developed by Faiz @ SGS- IT Coordinator</h3>
                    <div class="footer__socials">
                        <a href="https://www.instagram.com/faiz.f_s/"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/mohammad-faisal-j/"><i class="fab fa-linkedin"></i></a>
                        <a href="https://github.com/Faiz-fs"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>
            <div class="footer__col">
                <h4>Contact Us</h4>
                <p>
                    <span><i class="fa-solid fa-location-dot"></i></span> C-129, C-block, Dr. Mahalingam College of
                    Engineering and Technology
                </p>
                <p>
                    <span><i class="fa-solid fa-phone"></i></span> +91 934 430 3594
                </p>
                <p>
                    <span><i class="fa-solid fa-phone"></i></span> +91 962 909 3033
                </p>
                <p>
                    <span><i class="fa-solid fa-envelope"></i></span> sgs@drmcet.ac.in
                </p>
            </div>
        </div>
        <a href="{% url 'index' %}" class="footer__bar__link">
            <i class="fa-solid fa-angle-up"></i><span>TOP</span>
        </a>
    </footer>

    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://kit.fontawesome.com/c04ff74144.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script type="text/javascript">
        var messages = {
                {% for message in messages %}
        "{{ message.tags }}": "{{ message }}",
            {% endfor %}
            };
        Object.keys(messages).forEach(function (tag) {
            console.log(tag + ': ' + messages[tag]);
            alert(messages[tag])
        });
    </script>

</body>

</html>
